* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/*Sliding & color-changing background */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    270deg,
    #015ee9,
    #001d3d,
    #003566,
    #001845,
    #000814
  );
  background-size: 600% 600%;
  animation: slideBg 10s ease infinite;
}

@keyframes slideBg {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Calculator Glass Card */
.calculator {
  width: 340px;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(0, 170, 255, 0.4);
  box-shadow: 0 0 40px rgba(0, 170, 255, 0.45);
}

/* Display */
#display {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 12px;
  margin-bottom: 18px;
  padding: 14px;
  font-size: 1.8rem;
  text-align: right;
  color: #00e5ff;
  background: rgba(0, 0, 0, 0.65);
  box-shadow: inset 0 0 12px rgba(0, 170, 255, 0.6);
}

/* Buttons Grid */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

/* Button Base */
button {
  height: 55px;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  color: #e8f8ff;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 10px rgba(0, 170, 255, 0.35);
  transition: all 0.25s ease;
}

/* Hover & Active */
button:hover {
  transform: translateY(-2px) scale(1.05);
  box-shadow: 0 0 18px #00aaff;
  background: rgba(0, 170, 255, 0.25);
}

button:active {
  transform: scale(0.95);
}

/* Icons */
button i {
  font-size: 1.1rem;
}

/* Special Buttons */
.clear {
  background: linear-gradient(135deg, #ff0033, #ff4d4d);
}

.del {
  background: linear-gradient(135deg, #ffb703, #ff8800);
  color: #000;
}

.equal {
  background: linear-gradient(135deg, #00e5ff, #0077ff);
  color: #000;
  font-weight: bold;
}

.zero {
  grid-column: span 2;
}

