body {
    background: #1b1b1d;
    font-family: Arial;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.player {
    background: #2c2c2f;
    padding: 20px;
    width: 350px;
    border-radius: 15px;
    text-align: center;
    color: white;
}

.controls button {
    font-size: 25px;
    margin: 10px;
    padding: 10px 15px;
    border: none;
    background: #444;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.controls button:hover {
    background: #555;
}

.progress-container {
    margin: 15px 0;
}

#progress {
    width: 60%;
}

.volume-box {
    margin: 10px 0;
}

.playlist ul {
    list-style: none;
    padding: 0;
}

.playlist li {
    padding: 8px;
    background: #3b3b3f;
    margin-top: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.playlist li:hover {
    background: #4b4b4f;
}
